@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.type {
  overflow: hidden;
}
